<div class="row">
  <div class="col-md-12">
    <h3>
      步骤一:
    </h3>
  </div>
  <div class="col-md-3">
    配置 config.json
  </div>
  <div class="col-md-9">
    <code>/server/config.json</code>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>
      步骤二:
    </h3>
  </div>
  <div class="col-md-3">
    执行脚本:
  </div>
  <div class="col-md-9">
    <p>
      node : <kbd>$ node server/js-build-mysql-db-dictionary.js</kbd>
    </p>
    <p>
      php : <kbd>$ php server/php-build-mysql-db-dictionary.php</kbd>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>
      步骤三:
    </h3>
  </div>
  <div class="col-md-3">
    模糊搜索:
  </div>
  <div class="col-md-9">
    <p>
      top 搜索input 框支持模糊搜索 表名, 表备注信息
    </p>
  </div>
</div>
