<h1>
  {{table.tableName}}
</h1>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
        <tr class="palette-concrete">
          <th>#</th>
          <th>字段名</th>
          <th>数据类型</th>
          <th>默认值</th>
          <th>允许为空</th>
          <th>扩展</th>
          <th>备注</th>
        </tr>
    </thead>

    <tbody>
      <tr ng-repeat='item in table.fields'>
        <td>{{$index+1}}</td>
        <td>{{item.Field}}</td>
        <td>{{item.Type}}</td>
        <td>{{item.Default}}</td>
        <td>{{item.Null=='NO'?'Not Null':'允许为空'}}</td>
        <td>{{item.Extra}}</td>
        <td>{{item.Comment}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-hover table-bordered">
    <thead>
        <tr class="palette-concrete">
          <th>#</th>
          <th>键名</th>
          <th>索引类型</th>
          <th>字段</th>
        </tr>
    </thead>

    <tbody>
      <tr ng-repeat='item in table.keys'>
        <td>{{$index+1}}</td>
        <td>{{item.Key_name}}</td>
        <td>{{item.Type}}</td>
        <td>{{item.Column_name}}</td>
      </tr>
    </tbody>
  </table>

</div>
<h4>
  建表语句
  <button type="button" class="btn" ng-class={"btn-primary":showSql,"btn-warning":!showSql}  ng-click="showSql = !showSql">{{showSql?'显示':'隐藏';}}</button>
</h4>
<section ng-show='showSql'>
  <ui-codemirror ui-codemirror-opts="{
      theme:'material',
      lineNumbers: true,
      mode: 'sql',
    }" ng-model='sqlCreate' ui-refresh='showSql'>
</ui-codemirror>
</section>
